/*  =========================================================================  */
//  
//  App.scss
//  Built on Foundation 4 - http://foundation.zurb.com/
//  Using best practices from SMACSS - http://smacss.com/
//
//  Comment early and often.
//
    @charset "UTF-8";
//
/*  =========================================================================  */


//  =============================================================================
//  Imports
//  =============================================================================
  
    /* Normalize */
    @import "normalize.scss";

    /* Foundation Import */
    // Edit foundation.scss to pull in the components you want, such as buttons. 
    // Default is set to global and grid only.
    @import "foundation";
    @import "../bourbon/bourbon";
    @import "../neat/neat";

    //=======* Import Flexslider *=======//
    @import "flexslider";


//  =============================================================================
//  Variables
//  =============================================================================

    @import "mixins";
	

	$eng-roman: 'Engravers W01 Roman 706165';
	$freight: 'FreightSans Book', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !default;
	$black: #000;

//  =============================================================================
//  Base
//  =============================================================================
	.wrap.container {
		@include outer-container;
		margin-top: 3rem;
	}
	.banner {
		@include outer-container;
	}
	body {		
		font-family: $freight;
		

		p {
			font-size: 1.225em;
			line-height: 1.35em;
		}
	}
	.navigation-small {
		text-align: center;
		font-size: 0.8em;
	}
//  =============================================================================
//  Layout
//  =============================================================================
	header {
		padding-top: 2em;
		.container {
			width: 90%;
			margin: 0 auto;
			nav {

				ul {
					list-style: none;
					margin-top: 3.5em;

					li {
						float: left;
						margin-right: 2.5em;

						&:nth-child(2){
							float:right;
						}

						a{
							font-family: $eng-roman;
							text-decoration: none;
							color: $black;
							font-size: 0.9em;
						}
					}
				}

				&.nav-right {
					float: left;
					width: 37%;
					
					ul {
						padding-left: 3em;

						li:nth-child(1){
							margin-left: 0.5em;
						}
					}

				}
				&.nav-left {
					width: 37%;
					float: left;

					ul {
						padding-left: 3em;

						li:nth-child(2){
							margin-right: 4em;
						}
					}
				}

				@media only screen and (max-width: 1039px){
					&.nav-right, &.nav-left {
						width: 50%;
						ul {
							padding-left: 0;
						}
					}

					ul li:nth-child(2) {
						margin-right: 5.5em !important;
					}
					
					
				}
				@media only screen and (max-width: 800px){
					&.nav-right, &.nav-left {

						ul li {
							//float: left;
							margin-right: 1.5em !important;
							margin-left: 0;
						}
						ul {
							padding-left: 0;
						}
					}
				}
				@media only screen and (max-width: 640px){
					&.nav-left {
						width: 45%;
						ul li {
							margin-right: 0.5em;
							margin-top: 1.5em;
						}
					}
					&.nav-right {
						width: 55%;
						ul li {
							margin-right: 0.5em;
							margin-top: 1.5em;

						}
					}
					&.nav-right, &.nav-left {

						ul {
							margin-top: 2em;
							li {
								float: left;				
								margin-right: 0.5em;
								margin-top: 1.5em;
							}
						}
					}
				}
				@media only screen and (max-width: 350px){
					&.nav-right, &.nav-left {
						width: 100%;
						ul {
							margin-top: 0;
							padding-left: 0;
							li {
								text-align: center;
								width: 100%;					
								margin-right: 0.5em;
								margin-top: 1em;
							}
						}
					}
				}
			}
			.brand {
				float: left;
				width: 26%;
				display: inline-block;

				img {
					width: 100%;
					display: inline-block;
				}

				@media only screen and (max-width: 1040px) {
					width: 100%;

					.image-wrap {
						width: 30%;
						margin: 0 auto;
					}

					@media only screen and (max-width: 650px){
						.image-wrap {
							width: 40%;
							margin: 0 auto;
						}
					}

					@media only screen and (max-width: 350px){
						.image-wrap {
							width: 60%;
							margin: 0 auto;
						}
					}

					
				}
			}
		}
		
	}

	.header-image {
		margin-top: 2em;
		img {
			width: 100%;
		}
	}
//  ============================================================================= 
//  Home Page
//  =============================================================================
	body.page.home {
		#home-page-teasers {
			margin-top: 3rem;
			margin-bottom: 5rem;
			.teaser {
				a {
					text-decoration: none;
					color: $black;
					h2 {
						color: $black;
						text-decoration: none;
						font-family: $freight;
						font-size: 1.25em;
						margin: 0 0 1rem;
					}

					.image-wrap {
						padding: 6px;
						border: 1px solid rgba($black, 0.10);
					}
				}
			}
		}
	}
//  =============================================================================
//	Custom Works Page
//  =============================================================================
	body.page.custom-work {
		#custom-work {
			.custom-product {
				margin-top: 2rem;
				padding: 10px;

				&:hover {
					background: rgba(#333, 0.02);
					color: #fff;
				}
				a {
					text-decoration: none;
					h2 {
						color: $black;
						text-decoration: none;
						font-family: $freight;
						font-size: 1.5em;
						margin: 0 0 1rem;
					}
					.image-wrap {
						padding: 6px;
						border: 1px solid rgba($black, 0.10);
					}
				}
			}
		}
	}
//  ============================================================================= 
//  Products Page
//  =============================================================================
	body.page.products {
		#products {

			article.single-product {
				margin-top: 2rem;
				.image-left {
					margin-top: 1.5rem;
					padding: 6px;

					border: 1px solid rgba($black, 0.10);
				}

				.content-right {
					padding-left: 1.5rem;

					a {
						float: right;
						color: $black;
						text-align: right;
						font-family: $eng-roman;
						text-decoration: none;
						font-size: 0.8em;
						padding: 6px;
						border: 1px solid transparent;
						&:hover {
							
							border: 1px solid rgba($black, 0.25);
						}
					}
				}
			}
		}
	}
//  ============================================================================= 
//  Footer
//  =============================================================================
	footer.content-info {
		margin-top: 5rem;
		.container {
			border-top: 1px solid rgba($black, 0.10);
		}
		.footer.tag {
			p{
				font-size: 1em;	
				margin-top: 0.5rem;
			}
			
		}
	}
//  =============================================================================
//  Modules
//  =============================================================================
	#custom-work-modal {
		min-height: 200px;
		#slider {
			margin-bottom: 1rem;
		}
	}
	#slider {
		margin-bottom: 1rem;
	}
	.pagination {
		width: 10%;
		margin: 1rem auto 0;
		font-size: 0.9em;
		font-family: $eng-roman;

		a {
			color: $black;
		}
	}